body {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 156px;
  justify-content: center;
  gap: 24px;
  background: #fff;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  object-fit: cover;
}

.basicLightbox__placeholder > img:first-child:last-child {
  width: 1112px;
  height: 640px;
  object-fit: cover;
}

.sl-caption,
.sl-counter {
  font-family: Montserrat, Roboto, sans-serif;
}

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
